---
Checks: "*,
  -hicpp*,
  -android-cloexec-fopen,
  -altera*,
  -bugprone-switch-missing-default-case,
  -cert-dcl50-cpp,
  -cert-env33-c,
  -cert-err34-c,
  -cert-err58-cpp,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -clang-analyzer-security*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -fuchsia-*,
  -google-default-arguments,
  -google-readability-todo,
  -google-runtime-references,
  -llvm-header-guard,
  -llvm-include-order,
  -misc-string-integer-assignment,
  -misc-string-literal-with-embedded-nul,
  -misc-use-anonymous-namespace,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-container-size-empty,
  -readability-delete-null-pointer,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
  -readability-static-accessed-through-instance,
  -readability-identifier-length,
  -readability-redundant-string-init,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -abseil*,
  -llvm*"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
CheckOptions:
  - key: google-readability-braces-around-statements.ShortStatementLines
    value: "2"
  - key: google-readability-namespace-comments.SpacesBeforeComments
    value: "2"
